<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemberMapper">
	<select id="useridCheck" resultType="int">
		select count(*) from member where userid=#{userid}
	</select>
	<insert id="memberOk">
		insert into member(userid,name,pwd,phone,email,writeday)
		values(#{userid},#{name},#{pwd},#{phone},#{email},now())
	</insert>
	<select id="loginOk" resultType="String">
		select name from member where userid=#{userid} and pwd=#{pwd}
	</select>
	<insert id="addjjim">
  		insert into jjim(pcode,userid,writeday)
  		values(#{pcode},#{userid},now())
  	</insert>
  	<insert id="addCart">
  		insert into cart(pcode,su,userid,writeday)
  		values(#{pcode},#{su},#{userid},now())
  	</insert>
</mapper>