<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MypageMapper">
<select id="myinfo" resultType="com.example.demo.vo.MemberVo">
	select * from member where userid=#{userid}
</select>
<update id="mynamechg">
	update member set name=#{name} where userid=#{userid}
</update>
<update id="myphonchg">
	update member set phone=#{phone} where userid=#{userid}
</update>
<update id="myemailchg">
	update member set email=#{email} where userid=#{userid}
</update>
<select id="getPwd" resultType="String">
	select pwd from member where userid=#{userid}
</select>
<update id="chgPwd">
	update member set pwd=#{pwd} where userid=#{userid}
</update>

<select id="mygumae" resultType="HashMap">
select p.title, p.halin, p.pimg, p.price,p.pcode, p.btime, p.bprice,g.no, g.writeday, g.su, g.state, g.jumuncode, g.sangp from
gumae as g inner join product as p
on g.pcode=p.pcode and userid=#{userid}
order by g.writeday desc
</select>
<update id="stateChange">
	update gumae set state=#{state} where no=#{no}
</update>
<insert id="reviewOk">
	insert into review(title,content,userid,pcode,writeday,star,gumaeno)
	values(#{title},#{content},#{userid},#{pcode},now(),#{star},#{gumaeno})
</insert>
<update id="chgProduct">
	update product set star=(select avg(star) from review where pcode=#{pcode})
	,review=review+1
	where pcode=#{pcode}
</update>
<update id="chgGumae">
	update gumae set sangp=1 where no=#{no}
</update>
<insert id="mtmOk">
	insert into mtm(userid,title,content,answer,phone,email,writeday)
	values(#{userid},#{title},#{content},#{answer},#{phone},#{email},now())
</insert>
<select id="getReview" resultType="HashMap">
	select r.*, p.title as ptitle from review as r inner join product as p
	on r.pcode=p.pcode where userid=#{userid}
</select>
<select id="getQuest" resultType="HashMap">
	select q.*, p.title as ptitle from quest as q inner join product as p
	on q.pcode = p.pcode where userid=#{userid}
</select>
<select id="getMtm" resultType="HashMap">
	select * from mtm where userid=#{userid}
</select>
</mapper>